:root {
}

html {
    height: 100%;
}
body {
    height: 100%;
}

    /* padding: 24px; */
    /* background: #273234; */

#__next {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-style: normal;
    font-family: sans-serif;
    line-height: normal;
}

h1 {
    color: #F6D07C;
    text-shadow: -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000, 4px 4px 0 #000;
    font-size: 105px;
}
h2 {
    color: #F6D07C;
    text-shadow: -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000, 4px 4px 0 #000;
    font-size: 64px;
}

p {
    color: #F9D37E;
    font-size: 24px;
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.start-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;

    background: rgba(0, 0, 0, 0.70);
    backdrop-filter: blur(5px);
}

.start-button {
    width: 400px;
    height: auto;
    padding: 12px;

    border-radius: 12px;
    border: 4px solid #3C321E;
    background: #F7D07C;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.50);

    color: #3C321E;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.start-button:hover {
    background: #E7C06C;
}

.start-button:active {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.outer-area {
    padding: 24px;
    background: #273234;

    width: 100%;
    height: 100%;
}

.game-area {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.top-area {
    display: flex;
    background: #4F6462;
    height: 400px;
}

.HUD {
    width: 360px;
    height: 100%;
    flex: 0 0 auto;
    padding: 32px;
    background: #749380;
    justify-content: space-between;

    display: flex;
    flex-direction: column;
}

@media (max-width: 900px) {
    .top-area {
        flex-direction: column;
    }
    .HUD {
        width: 100%;
        height: 200px;
    }
}

.HUD>* {
    flex: 1 1 auto;
}

.combo-area {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex: 0 0 75px;
}

.combo-box {
    border-radius: 12px;
    width: 20%;
}

.combo-box-on {
    background: #ACFFA5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.combo-box-off {
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.HUD-textbox {
    display: flex;

    background: #E5FFF0;
    height: 48px;
    flex: 0 1 auto;
    padding: 6px 12px;
}

.HUD-text-main {
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #355233;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.HUD-text-label {
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    color: #404F37;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.drop-card-area {
    padding: 24px;
    display: flex;

    flex: 1 0 min-content;
    flex-wrap: wrap;
}

@keyframes flashRed {
    0% {
        background: #F2F2F2;
    }
    50% {
        background: red;
    }
    100% {
        background: #F2F2F2;
    }
}

.drop-card {
    margin: 10px;

    animation-name: scaleIn;
    animation-timing-function: ease-out;
    animation-duration: 0.4s;

    width: 120px;
    flex: 1 1 auto;

    color: #4C4C4C;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.drop-card-inner {

    background: #F2F2F2;
    border-radius: 10px;
    box-shadow: 4px 4px 1px 0px #657F75;

    height: 340px;

    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 32px;
}

.drop-card-wrong {
    animation-name: flashRed;
    animation-duration: 0.4s;
}

.smaller-text {
    padding: 12px;
    font-size: 16px;
}

.image-container {
    position: relative;
    width: 240px;
    height: 180px;
}

.smaller-image {
    width: 200px;
    height: 120px;
}

@media (max-width: 900px) {
    .image-container {
        width: 120px;
        height: 90px;
    }

    .smaller-text {
        font-size: 8px;
    }

    .drop-card {
        font-size: 12px;
    }
}

.image {
    object-fit: contain;
}


.drag-card-area {
    background: #EFD292;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    padding: 24px;

    flex: 1 0 auto;
}

.drag-card {
    position: absolute;
    width: min-content;
}

.drag-card-inner {
    /* 8 characters or 20% size of viewport */
    width: calc(max(20vw, 8em));
    min-height: 15vh;

    cursor: grab;
    animation-name: scaleIn;
    animation-timing-function: ease-out;
    animation-duration: 0.4s;
    transition: scale ease-out 0.2s;

    border-radius: 10px;
    border: none;
    background: #F2F2F2;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.24);

    padding: 32px;
    color: #4C4C4C;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.selected {
    scale: 1.10;
}

