
@keyframes scaleIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.dropzone {
    background: #F2F2F2;
    width: 300px;
    height: 200px;
    margin: 10px;
    padding: 10px;

    border-radius: 10px;
    box-shadow: 4px 4px 1px 0px #657F75;
    animation-name: scaleIn;
    animation-timing-function: ease-out;
    animation-duration: 0.4s;
}

.drag-card {
    animation-name: scaleIn;
    animation-timing-function: ease-out;
    animation-duration: 0.4s;
}

.selected {
    transition: transform ease-out;
    transform: scale(120);
}

.dropzone-container {
    display: flex;
}
